*{
    margin: 0;
    padding: 0;
    font-family: "DM Serif Display";
    box-sizing: border-box;
}
h1{
    color: hsl(231, 47%, 22%);
    display: flex;
    min-height: 20vh;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    margin-bottom: -20px;
    cursor: default;
}
.container{
    width: 100%;
    min-height: 100vh;
    background-color: hsl(29, 100%, 82%);
    padding: 10px;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background-color: hsl(231, 47%, 22%);
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 20px;
}
.todo-app h2{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    cursor: default;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    border-radius: 30px;
    padding-left: 10px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-family: "Nord Serif";
    font-size: 1.3em;
    cursor:text;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: hsl(29, 100%, 82%);
    color: black;
    font-size: 1.2rem;
    border-radius: 40px;
    cursor: pointer;
}
button:hover{
    background-color: hsl(29, 100%, 78%);
}
button:active{
    background-color: hsl(29, 76%, 70%)
}
.todo-app li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px 15px;
    color: white;
    font-family: "Nord Serif";
    font-weight: bold;
    font-size: 1.5rem;
}
.todo-app li span{
    font-size: 24px;
    cursor: pointer;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    text-align: center;
    color: grey;
}
.todo-app li span:hover{
    background-color: hsl(231, 46%, 16%);
    color: white;
}
.todo-app li span:active{
    background-color: hsl(231, 48%, 8%);
}
#arrow{
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 4rem;
    color: hsl(231, 47%, 22%);
    cursor: pointer;
    background-color: transparent;
}
.element::-webkit-scrollbar {
    display: none;
}
html {
    scrollbar-width: none;
}
