*{
    margin:none;
    padding: none;
}
body{
    background-color: hsl(29, 100%, 82%);
}
h1{
    font-size: 3rem;
    font-family: "DM Serif Display";
    text-align: center;
    color:hsl(231, 47%, 22%);
}

button{
    font-size: 2.5rem;
    font-family: "DM Serif Display";
    font-weight: bold;
    border: 2px solid hsl(231, 47%, 22%);
    border-radius: 5px;
    width: 80vw;
    padding: 10px;
    background-color: hsl(231, 47%, 22%);
    color:white;
    margin-bottom: 50px;
}
button:hover{
    font-weight: bold;
    text-decoration: underline;
    background: hsl(231, 47%, 22%);
    width: 80vw;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25vh;
}
.icon{
    position: fixed;
    bottom:0;
    left: 20px;
    font-size: 4rem;
    color: hsl(231, 47%, 22%);
    background-color: transparent;
}