*{
    padding: 0;
    margin: 0;
    background-color: hsl(29, 100%, 82%);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    text-decoration: none;
    font-size: 4.5rem;
    padding-left: 20px;
    color: hsl(231, 47%, 22%);
    cursor: default;
    text-align: center;
    
}
#icon{
    font-size: 4.3em;
    position: sticky;
    top: 0;
    right: 0;
    padding-top: 20px;
    padding-right: 20px;
    color: hsl(231, 47%, 22%);
}
button{
    font-size: 2.5rem;
    font-family: "DM Serif Display";
    font-weight: bold;
    border: 2px solid hsl(231, 47%, 22%);
    border-radius: 5px;
    width: 80vw;
    padding: 10px;
    background-color: hsl(231, 47%, 22%);
    color:white;
    margin-bottom: 50px;
}
#credits{
    position: relative;
    font-family: "Noto Serif";
    font-weight: bold;
    padding-left: 10px;
    bottom: 0;
    color: hsl(231, 47%, 22%);
    cursor: default;
    background-color: transparent;
}
button:hover{
    cursor: pointer;
    text-decoration: underline;
}
.imgContainer{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
h2{
    display: flex;
    font-size: 2rem;
    justify-content: center;
    color: hsl(231, 47%, 22%);
    margin-top: 40px;
    font-weight: bolder;
    cursor: default;
}
#icon2{
    color: hsl(231, 47%, 22%);
    font-size: 4.5rem;
    position: absolute;
    bottom: 10px;
    left: 10px;
    cursor: pointer;
    background-color: transparent;
}
.element::-webkit-scrollbar {
    display: none;
}
html {
    scrollbar-width: none;
}